*.cache
*.db
*.db-shm
*.db-wal
*.deps
*.exp
*.filters
*FileListAbsolute.txt
*.idb
*.ilk
*.iobj
*.ipdb
*.ipch
*.log
*.ninja
*.obj
*.opendb
*.pdb
*.recipe
*.sqlite
*.suo
*.tlog
*.user

bin/Debug-Win32/
bin/Debug-x64/
Diagnostics/
.vs/